/* Estilo Geral */
@import url(./vars.css);
@import url(./reset.css);

body {
  position: relative;          /* Posicionamento relativo do corpo */
  margin: 0;                   /* Remove margens padrão */
  padding: 0;                  /* Remove preenchimento padrão */
  min-height: 100vh;           /* Altura mínima ocupa toda a viewport */
  border: 3.37vw solid red;    /* Bordas fixas */
  box-sizing: border-box;      /* Inclui as bordas no cálculo total */
  font-family: 'Asket', sans-serif;
}


/* Menu de Navegação */
.menu {
  position: fixed; /* Fixo em relação à tela */
  bottom: 0;       /* Ancorado na base da tela */
  left: 0;         /* Ancorado na lateral esquerda */
  width: 100%;     /* Ocupa 100% da largura da tela */
  background-color: #ff0000;
  text-align: center;
  z-index: 1000;   /* Garante que o menu fique acima de outros elementos */
  padding: 10px 0; /* Espaçamento interno para o menu */
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;        /* Alinhamento flexível dos itens */
  justify-content: center; /* Centraliza os itens no menu */
}

.menu ul li {
  margin: 0 15px; /* Espaçamento entre os links */
}

.menu ul li:not(:last-child)::after {
  content: "|";     /* Barra de separação entre itens */
  margin-left: 15px; /* Espaço à esquerda da barra */
  color: #ffffff;      /* Cor da barra */
}

.menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.menu ul li a:hover {
  color: #000000;
}

